<template>
    <div class="container">
        <ProductoDetail :producto="currentProduct" :precioEstilos="configuracionPagina.precioEstilos"/>
    </div>

    <div class="container ">
        <div class="row">
            <h4>Productos relacionados</h4>
        </div>
        <div class="row">
            <template v-for="item in productos" :key="item.id">
                <ProductoCard :producto="item" v-if="item.id != currentProduct.id" @onselect="setProducto(item, $event)"/>
            </template>    
        </div>
    </div>
</template>
<script>
import ProductoCard from '@/components/ProductoCard.vue';
import ProductoDetail from '@/components/ProductoDetail.vue';

export default{
    name: "Inicio",
    props: {
        configuracionPagina: null,
    },
    components: {
        ProductoCard,
        ProductoDetail,
    },
    data(){
        const api = process.env.VUE_APP_API;
        return {
            api,
            productos: [],
            currentProduct: null,
        }
    },
    methods: {
        getProductos() {
            this.axios({
                method: 'get',
                url: this.api + '/products'
            })
                .then((response) => {
                    this.productos = response.data;
                    this.currentProduct = this.productos[0];
                    console.log(response.data);
                })
                .catch((error) => { console.log(error) })
                .finally(() => { });
        },
        setProducto(item, event){
            this.currentProduct = item;
            console.log(item);
        },
    },
    mounted() {
        this.getProductos()
    },
}
</script>