<template>
    <footer :style="'background-color: ' + footerColor + ';'">
        
    </footer>
</template>
<script>
export default{
    name:'FooterComponent',
    props: {
        footerColor: 'gray'
    }
}
</script>