<template>
    <nav class="navbar navbar-expand-lg " :style="'background-color: ' + menuColor + ';'">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ marca }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li v-for="(menu, index) in menus" class="nav-item" :key="index">
                        <a v-if="index == 0" class="nav-link" aria-current="page" :href="menu.url">{{ menu.etiqueta }}</a>
                        <a v-else class="nav-link" :href="menu.url">{{ menu.etiqueta }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
export default {
  name: 'MainMenu',
  props: {
    marca: 'Titulo Pagina',
    menus: [],
    menuColor: 'gray'
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>