<template>
    <div v-if="producto">
        <div class="row">
            <h3>{{ producto.nombre }}</h3>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 ">
                <img :src="producto.imagen" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-sm-6  col-md-8">
                <h6 v-html="producto.descripcion"></h6>
                <div class="p-3 mb-2 text-white" :style="precioEstilos">
                    Precio: {{ producto.precio }} BOB
                </div>
                <h5>Color</h5>
                <div>
                    <template v-for="color in producto.colores">
                        <div class="color-box clic" :style="'background: '+color+';'" @click="pedido.color = color"></div>                        
                    </template>                    
                </div>
                <h5>Cantidad</h5>
                <div class="quantity">
                    <button @click="pedido.cantidad -= 1">-</button> <div>{{ pedido.cantidad }}</div> <button @click="pedido.cantidad += 1">+</button>
                </div>
                <div class="buy-box">
                    <button @click="comprar(producto.id)" type="button" class="btn btn-primary" :disabled="pedido.cantidad < 1 ? true : false">Comprar</button>
                </div>
                
            </div>
        </div>
    </div>
    
</template>
<script>

export default{
    name: 'ProductoDetail',
    props: {
        producto: null,
        precioEstilos: ''
    },
    data(){
        return {
            pedido: {
                id: null,
                cantidad: 1,
                color: null
            }
        }
    },
    methods:{
        comprar(id){
            this.pedido.id = id;
            
            if(this.pedido.color){
                const detalle = 'Id del producto: ' + this.pedido.id + '\nCantidad: ' + this.pedido.cantidad + '\nColor: ' + this.pedido.color;

                alert(detalle);
            }else{
                alert('Seleccionar el color.');
            }                
        },
    }
}
</script>