<template>
    <div class="col">
        <div class="card" style="width: 18rem;" @click="$emit('onselect',$event.target.value)">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <img :src="producto.imagen" alt="" class="img-fluid">
                <p class="card-text">{{ producto.descripcion }}</p>
                <div class="producto-relacionado-precio">Precio:{{ producto.precio }} BOB</div>                    
                <div>
                    <template v-for="color in producto.colores">                    
                        <div class="color-box" :style="'background: '+color+';'">
                        </div>
                    </template>
                </div>                    
            </div>
        </div>
    </div>    
</template>
<script>
export default{
    name: 'Producto',
    props: {
        producto: null
    },
    emits: ['onselect'],
}
</script>