<template>
  <MainMenu :marca="configuracionPagina.marca" :menus="configuracionPagina.menus" :menuColor="configuracionPagina.menuColor"/>
  <InicioView :configuracionPagina="configuracionPagina"/>
  <Footer :footerColor="configuracionPagina.footerColor"/>
</template>

<script>
import MainMenu from './components/Menu.vue'
import InicioView from './views/InicioView.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {    
    MainMenu,
    InicioView,
    Footer
  },
  data() {
    return {
      configuracionPagina : {
        marca: "MegaDron",
        menuColor: "lightblue",
        footerColor: "slategrey",
        precioEstilos: "background: orangered; color: white; font-weight: bold",
        menus : [
            {
                etiqueta: "Inicio",
                url: "?"
            },
            {
                etiqueta: "Tienda",
                url: "?"
            }
        ]
      },
    }
  }
}
</script>

<style>
  /* @import url(assets/css/style.css); */

</style>
